<div class="site-home">
    <div class="site-title">
        <p>WELCOME!</p>
        <p>If you want to join your favorite programming courses - you are at the right place!</p>
    </div>

    <div class="courses-container">
        <div class="lastCourses-title">
            <h2>Last Courses</h2>
        </div>
        <div *ngFor="let course of lastCourses" class="lastCourses-container">
            <div class="course-card">
                <div class="course-title">
                    <a [routerLink] = "course._id">
                        <h2>{{ course.title }}</h2>
                    </a>
                </div>
            
                <div class="course-info">
                    <p>Start: {{ course.startDate }}</p>
                    <p>End: {{ course.endDate }}</p>
                    <p>Category: {{ course.category }}</p>
                </div>
            </div>
        </div>
    </div>
</div>