.footer-container {
    width: 100%;
    background-color: lightblue;
    margin-top: 1em;
    bottom: 0;
    position: absolute;
    font-size: 18px;
}

.footer-container p {
    text-align: center;
    padding: 0.3em;
    font-weight: bold;
    color: white;
}